*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #333;
    color: #a0a0a0;
}
nav{
    background-color: black;
}
main{
    height: 80vh;
    margin: 20px 10%;
    border-radius: 25px;
    background-color: #444;
    padding: 20px;
    box-shadow: 3px 3px 6px 5px black;
}
a{
    color: #a0a0a0;
    text-decoration: none;
}
h1{
    font-size: 48px;
}
h2{
    font-size: 32px;
}
p, a{
    font-size: 24px;
}
p{
    text-align: justify;
}

.idx-container{
    text-align: center;
    margin: 0 15%;
}

.duke{
    font-size: 192px;
}

/*Navbar*/

.logo{
    float: left;
}

.navbar{
    list-style-type: none;
    margin: 0 10%;
    padding: 0;
    overflow: hidden;
}

.nav-item{
    float: right;
}

.nav-link{
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.nav-link:hover {
    background-color: #111;
}

/* Resources */

section{
    margin-bottom: 15px;
}

.idented-list{
    margin-left: 20px;
}

#wt-list, #course-list, #recommended-list{
}

/* .resource-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resource-heading{
    text-align: center;
}

.resource-item{
    flex: 33%;
    width: 300px;
}

.resource-list{
    margin-left: 6em;
} */
