*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #333;
    color: #a0a0a0;
}
nav{
    background-color: black;
}
main{
    height: 80vh;
    margin: 20px 10%;
    border-radius: 25px;
    background-color: #444;
    padding: 15px 5px 15px 5px;
    box-shadow: 3px 3px 6px 5px black;
    /* overflow-x: scroll;
    overflow-y: wrap; */
}
article{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 80vh;

}
section{
    margin-bottom: 15px;
    margin-left: 20px;
    width: 90%;
}

img{
    margin-top: 10px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1000px){
    main{
        margin: 20px;
    }
    img {
        max-width: 100%;
    }
    .duke{
        font-size: 96px;
    }

}

footer{
    clear: both;
    position: relative;
    text-align: center;
    margin: 0 10%;
}
a{
    color: #a0a0a0;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
h1{
    font-size: 48px;
}
h2{
    font-size: 32px;
}
h3{
    font-size: 28px;
}
p, a{
    font-size: 24px;
}
p{
    text-align: justify;
}

.idx-container{
    text-align: center;
    margin: 0 15%;
}

.duke{
    font-size: 192px;
}

/*Navbar*/

.logo{
    float: left;
}

.navbar{
    list-style-type: none;
    margin: 0 10%;
    padding: 0;
    overflow: hidden;
}

.nav-item{
    float: right;
}

.nav-link{
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.nav-link:hover {
    background-color: #111;
    text-decoration: none;
}

/* Resources */
.idented-list{
    margin-left: 20px;
}

article::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

article::-webkit-scrollbar-track {
    background: #a0a0a0;
    border-radius: 20px;
    border: 2px solid rgb(56, 56, 56));
}

article::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #444;    
    border-radius: 20px;       
    border: 2px solid black;  
}

article::-webkit-scrollbar-thumb:hover {
    background-color: rgb(56, 56, 56);     
}

