*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #333;
    color: #a0a0a0;
}
nav{
    background-color: #0c0d16;
    margin: 0 10%;
}
main{
    height: 80vh;
    margin: 0 10%;
    border-radius: 25px;
    background-color: #444;
    padding: 20px;
}
a{
    color: #a0a0a0;
    text-decoration: none;
}
h1{
    font-size: 48px;
}
h2{
    font-size: 32px;
}
p, a{
    font-size: 18px;
}

/*Navbar*/

.logo{
    float: left;
}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0c0d16;
}

.nav-item{
    float: right;
}

.nav-link{
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.nav-link:hover {
    background-color: #111;
}

/* Resources */

#resources-main{
    padding: 0 50px;
}

#resources-main section{
    margin-bottom: 15px;
}

#resources-main ul{
    margin-left: 50px;
}
