<artcle>
    <section>
        <h2>TryHackMe: Linux Challenges</h2>
        <p>blog content</p>
    </section>
    
    <section>
        <h3>Task 1: Linux Challenges Introduction</h3>
        <p>setup your VPN connection and deploy the vm</p>
        <p>i recommend getting used to using SSH to access boxes to better translate to the real world.</p>
        <p>SSH into the machine using the credentials provided:</p>
        <p>Username: <b>garry</b> Password: <b>letmein</b></p>
        <br>
        
    </section>
    
    <section>
        <h3>Task 2: The Basics</h3>
    </section>
    
    <section>
        <h3>Task 3: Linux Functionality</h3>
    </section>
    
    <section>
        <h3>Task 4: Data Representation, Strings and Permissions</h3>
    </section>
    
    <section>
        <h3>Task 5: SQL, FTP, Groups and RDP</h3>
    </section>
</artcle>